.nav{
    font-family: 'raleway', sans-serif;

    display: grid;
    align-items: center;

    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 10rem;
    margin-bottom: 2rem;
    padding: 5rem 6rem;

    &__logo{
        height: 5rem;
    }
  
    &__list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: end;

        
    }

    &__item{
        list-style: none;
        
            
    }

    &__link:link,
    &__link:visited{
        text-decoration: none;
        color: $color-white;
    }
}