%heading{
    font-family: 'raleway', sans-serif;
    font-weight: 700;
}

.heading-1{
    
    @extend %heading;
}

.heading-2{
    @extend %heading;
    font-size: 3.5rem;
}
.heading-3{
    @extend %heading;
    font-size: 2rem;
}

.medium-text{
    font-size: 1.8rem;
}